body{
    background-image: url(../image/background-color.png);
    background-size: 100vw;
    background-repeat: repeat;
}

.section__activity{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title__activity{
    padding-top: 10vh;
    font-size: 4rem;
}

.ul_activity{
    width: 300px;
    display: flex;
}

.p__activity{
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 0;
}


.back__activity{
    border-radius: 50%;
    height: 15vh;
    /* padding-bottom: 10vh; */
    margin-bottom: 10vh;
}